body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.contacts {
    margin-left: auto;
}

.contacts ul {
    display: flex;
    gap: 40px;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.footer-logo {
    color: #f4f4fd;
}

.logo-accent {
    color: #4d5ae5;
}


.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}


.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

section {
    padding: 120px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}


.features-list {
    display: flex;
    gap: 24px;
}

.features-list li {
    width: calc((100% - 72px) / 4);
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list li {
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-list li {
    width: calc((100% - 48px) / 3);
    background-color: #ffffff;
}

.portfolio-list li div {
    padding: 16px;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
}
