body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}

address {
    font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

nav a {
    color: #2e2f42;
}

.contacts-link {
    color: #434455;
}

a:hover,
a:focus {
    color: #404bbf;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}